# Archivos del sistema y temporales
.DS_Store
Thumbs.db
*.tmp
*.log

# Entornos de desarrollo
.vscode/
.idea/

# Caches y multimedia pesada
cache/
*.mp3
*.mp4
!assets/startup.mp4
*.zip
*.tar.gz
*.crx
*.pem
